[Unit]
Description=Gunicorn server for rememberlist.store

[Service]
Restart=on-failure
User=siteadmin
WorkingDirectory=/home/siteadmin/sites/rememberlist.store/source/server
ExecStart=/home/siteadmin/.cache/pypoetry/virtualenvs/rememberlist-UOH88Tn_-py3.10/bin/gunicorn --bind unix:/tmp/rememberlist.store.socket server.wsgi:application

[Install]
WantedBy=multi-user.target
